<!DOCTYPE>
<html>
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<title> Last 50 </title>
</head>
<body>
	<div class="container">
		<table class="table table-striped">
		<thead>
			<tr>
				<td>Date</td>
				<td>User</td>
				<td>Oneid</td>
				<td>Department</td>
			</tr>
		</thead>
		<tbody>	
			{% for observation in observations %}
			<tr>
				<td>{{observation[0]}}</td>
				<td>{{observation[1]}}</td>
				<td>{{observation[2]}}</td>
				<td>{{observation[3]}}</td>
			</tr>
			{% endfor %}
		</tbody>	
		<table>
	</div>
</body>	
</html>